#nav{
    margin-bottom: 100px;
}
.menu-item{
    border: 2px solid blue;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 20px;
}

.menu-item .submenu{
    width: 140px;
    height: 40px;
    background-color: grey;
    position: absolute;
    cursor: pointer;
}